@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
h1, h2 {
  font-weight: 700;
}
h3, .subheading {
  font-weight: 500;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: relative;
  background-color: rgb(34, 40, 49);
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 20px black solid;
}

.header {
  display: flex;
  font-weight: 500;
  color: whitesmoke;
  flex-direction: row;
  justify-content: center;
  gap: 60px;
}

.controller {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card {
  position: relative;
  width: 1720px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.box {
  position: relative;
  width: 280px;
  height: 400px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 20px;
  background: whitesmoke;
}